* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--min-width: 450px;
	--max-width: 90vw;
	--min-height: 500px;
	--max-height: 90vh;
	--background-color: #2d2d2d;
	--bg-color-day: #e9d66a;
	--bg-color-night: #001628;
	--primary-color: #c2c2c2;
	--secondary-color: #4a4e69;
	--text-light: #fff;
	--text-dark: #3c3c3c;
	--border-color: #9a8c98;
	--border-color-day: #c8b029;
	--border-color-night: #2b2a5c;
	--border-radius-1: 10px;
	--border-radius-2: 20px;
	--border-radius-3: 30px;
	--shadow: #080c21;
}

h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2.5rem;
}
h3 {
	font-size: 2rem;
}
h4 {
	font-size: 1.5rem;
}

body {
	background: var(--background-color);
	font-size: 16px;
	font-family: 'Work Sans', Courier, monospace;
	color: var(--primary-color);
}

.container {
	margin: auto;
	margin-bottom: 1.2rem;
	padding: 2rem;
	max-width: var(--max-width);
	min-width: var(--min-width);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input {
	margin: 0.8rem 0;
	padding: 10px;
	font: inherit;
	width: 600px;
	max-width: 40vw;
	height: 35px;
	border-radius: var(--border-radius-1);
	border: none;
	outline: none;
	background-color: #222831;
	color: var(--primary-color);
}

.weather-card {
	margin-top: 2rem;
	padding: 2rem;
	width: 600px;
	max-width: 40vw;
	height: 400px;
	max-height: 80vh;
	border: none;
	border-radius: var(--border-radius-1);
	display: grid;
	grid-template-columns: 2fr 3fr;
	box-shadow: 0px 31px 35px -26px var(--shadow);
}
.day {
	background: var(--bg-color-day);
	color: var(--text-dark);
}
.night {
	background: var(--bg-color-night);
	color: var(--text-light);
}
.weather-card-left {
	padding: 0 1.2rem;
}
.weather-card-left h1 {
	margin-top: 3rem;
	font-weight: bold;
}
.weather-card-right {
	border-left: 1px solid var(--primary-color);
	padding: 0 1.2rem;
	line-height: 2.1rem;
	text-transform: uppercase;
	font-weight: bolder;
}
.weather-card-right span {
	float: right;
	text-transform: none;
}

.spinner {
	margin-top: 100px;
}

.hourly-forecast {
	margin-top: 2rem;
	width: 600px;
	max-width: 40vw;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
}

.hourly-forecast .item {
	border: 1px solid none;
	border-radius: var(--border-radius-1);
	padding: 10px;
	font-weight: bolder;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 20px 25px -26px var(--shadow);
}

.hourly-forecast .item-img {
	font-size: 0.8rem;
	display: flex;
	align-items: center;
}

.hourly-forecast img {
	width: 30px;
	height: 30px;
}

.hourly-forecast span {
	color: rgb(46, 138, 212);
}
