* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--min-width: 450px;
	--max-width: 90vw;
	--min-height: 500px;
	--max-height: 90vh;
	--background-color: #f2e9e4;
	--primary-color: #22223b;
	--secondary-color: #4a4e69;
	--border-color: #9a8c98;
}

h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2.5rem;
}
h3 {
	font-size: 2rem;
}
h4 {
	font-size: 1.5rem;
}

body {
	background: var(--background-color);
	font-size: 16px;
	font-family: 'Courier New', Courier, monospace;
	line-height: 1.8rem;
}

.container {
	margin: auto;
	margin-bottom: 1.2rem;
	padding: 2rem;
	max-width: var(--max-width);
	min-width: var(--min-width);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input {
	margin-bottom: 0.8rem;
	padding: 10px;
	font: inherit;
	width: 400px;
	height: 35px;
	border-radius: 20px;
	outline: none;
	border: 1px solid #3c3c3c;
}

input:focus {
	background-color: #3c3c3c;
	outline: #fff;
	color: #fff;
}
